<article>
  <% markdown = Redcarpet::Markdown.new(HTMLWithAlbino, :fenced_code_blocks => true) %>
  <%= sanitize(raw(markdown.render(article.body).gsub(/src=\"(?!http)(.+\.(png|jpg))\"/) { "src=\"#{box_path(@user.username)}/files#{@asset_dir}/#{$1}\""}.sub(/\<h1\>(.+)\<\/h1\>/) { "<h1>#{link_to $1, article_path(article_path: article.to_param, box_id: @user.username)}</h1>"}), attributes: %w(style class src href alt title)) %>
</article>