<div class="not_found">

  <div class="picture">
    <i class="icon-medkit"></i>
  </div>

  <h1>Damn. This Pencilbox does not exist</h1>

  <p>
    If this was your Pencilbox, it is possible that you need to choose a
    username and password first. You can do so by reconnecting your Dropbox account on the
    <%= link_to "homepage", root_url %>.
  </p>
</div>