<article>
  <h1>Inhoudsopgave</h1>
  <% @ordered_files.each do |file| %>
    <h2><%= file['path'] %></h2>
  <% end %>
</article>

<% @ordered_files.each do |file| %>
  <article>
    <% out = @client.get_file(file['path']) %>
    <% markdown = Redcarpet::Markdown.new(HTMLWithAlbino, :fenced_code_blocks => true) %>
    <%= raw(markdown.render(out)) %>
  </article>
<% end %>