<script type="text/javascript">mixpanel.track('Viewed homepage')</script>

<p class="frontpage_account fade-in four">
  <%= link_to new_user_session_path do %>
    <i class="icon-signin"></i> Sign in
  <% end %>
</p>

<div class="frontpage_center fade-in one">This is Pencilbox</div>
<div class="frontpage_payoff fade-in two">The simplest way to publish straight from iA Writer.</div>
<div class="frontpage_explanation fade-in three">Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod.</div>

<div class="linker fade-in four">
  <p><%= link_to "Link up with Dropbox", link_dropbox_path, :class => "link_button", :"data-no-turbolink" => "", :id => "dropbox-signup-frontpage" %></p>
  <p class="hint">This will create a folder for Pencilbox at <code>&lt;Your Dropbox&gt;/Apps/Pencilbox</code>. <br />This is the only folder I have access to.</p>
</div>