<p class="frontpage_account"><%= link_to "Sign in", new_user_session_path %></p>
<div class="frontpage_center" style="margin-top: 100px; text-align: center; font-size: 20px;">This is Pencilbox</div>

<div class="linker" style="margin: 100px 0;">
  <p><%= link_to "Link up with Dropbox", link_dropbox_path, :class => "link_button", :"data-no-turbolink" => "" %></p>
  <p class="hint">This will create a folder for Pencilbox at <code>&lt;Your Dropbox&gt;/Apps/Pencilbox</code>. <br />This is the only folder I have access to.</p>
</div>