<p class="frontpage_account">
  <%= link_to new_user_session_path do %>
    <i class="icon-signin"></i> Sign in
  <% end %>
</p>

<div class="frontpage_center">This is Pencilbox</div>

<div class="linker">
  <p><%= link_to "Link up with Dropbox", link_dropbox_path, :class => "link_button", :"data-no-turbolink" => "" %></p>
  <p class="hint">This will create a folder for Pencilbox at <code>&lt;Your Dropbox&gt;/Apps/Pencilbox</code>. <br />This is the only folder I have access to.</p>
</div>