// Place all the styles related to the frontpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay: 1.2s;
animation-delay: 1.2s;
}
 
.fade-in.three {
-webkit-animation-delay: 2.6s;
-moz-animation-delay: 2.6s;
animation-delay: 2.6s;
}
.fade-in.four {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

body {
  font-family: "Lucida Sans", sans-serif;
}

.frontpage_center {
  margin-top: 100px; 
  text-align: center; 
  font-size: 80px;
}
.frontpage_payoff {
  margin-top: 1.5em;
  text-align: center;
  font-size: 1.4em;
}
.frontpage_explanation {
  // text-align: justify;
  font-size: 1.1em;
  line-height: 1.5em;
  text-justify: inter-word;
  max-width: 470px;
  margin: 1.3em auto;
  color: #333333;
}

@media (max-height: 480px) {
  body .frontpage_center {
    margin-top: 30px;
    font-size: 40px;
  }
}

.frontpage_account {
  text-align: right;
  a {
    text-decoration: none;
    color: #0077ba;
    font-size: 1em;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}

.link_button {
  text-decoration: none;
  font-family: "Lucida Grande", sans-serif;
  color: #555;
  font-weight: bold;
  padding: 8px 10px;
  @include border-radius(4px);
  @include background(asset-url('dropbox.png'), #f9f9f9);
  background-size: 1.3em;
  background-repeat: no-repeat;
  border: 1px solid #eee;
  padding-left: 2.4em;
  font-size: 20px;
  background-position: 10px center;
  @include text-shadow(#fff 0 1px 0);
  @include box-shadow(#fff 0 1px 0 inset);
  border-bottom: 2px solid #e0e0e0;
  &:hover {
    @include box-shadow(#fff 0 1px 0 inset);
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-bottom: 2px solid #d0d0d0;
  }
}

.frontpage_center {
  font-family: "Donegal One", serif;
}

.linker {
  text-align: center;
  line-height: 1.5;
  margin: 100px 0;
  p {
    margin-bottom: 2em;
  }
  p.hint {
    color: #555;
    font-size: 14px;
    -webkit-transition: ease-in-out 1;
    -moz-transition: ease-in-out 1;
    transition: ease-in-out 1;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    opacity: 0.5;
  }
}

.linker:hover > p.hint {
  -webkit-transition: ease-in-out 1;
  -moz-transition: ease-in-out 1;
  transition: ease-in-out 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 0.9;
}

@media (max-height: 480px) {
  body .linker {
    margin-top: 50px;
  }
  .frontpage-center {
    font-size: 40px;
  }
}

@media (min-height: 480px) {
  body .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media (max-width: 480px) {
  .frontpage_center {
    margin-top: 30px;
    font-size: 40px;
  }
  .frontpage_payoff {
    font-size: 1em;
    line-height: 1.5em;
  }
  .frontpage_explanation {
    font-size: 1em;
    line-height: 1.4em;
  }
}
.footer_container {
  width: 80%;
  margin: auto;
  color: #999;
  font-size: 12px;
  border-top: 1px solid #eee;
  p {
    text-align: center;
  }
  a {
    color: #777;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}